body{
    color: rgb(255, 255, 255);
    overflow: auto;
    height: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    background-color: rgb(223, 219, 219);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
h1, h3 {
    text-align: center;
    margin-bottom: 20px;
}
h3{
    font-size: 23px;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 22px ;
    border-radius: 45px;
    width: 222px;
    align-self: center;
    animation: fadeInUp 1s ease-out;
}
h1{
    font-size: 65px;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 22px ;
    border-radius: 45px;
    width: 422px;
    align-self: center;
    animation: fadeInUp 1s ease-out;

}
@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translatey(40px);
    }
    100% {
      opacity: 1;
      transform: translatey(0);
    }
  }
a{
    text-decoration: none;
  }
.inputs a{
    display: inline-block;

}
.inputs{
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color:  rgba(255, 255, 255, 0.8);
        padding: 20px ;
        border-radius: 12px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        width: 376px;
        align-self: center;
        transition: all 0.6s ease;
        animation: fadeInUp 1s ease-out;
}
.inputs:hover{
    box-shadow: 0 0 14px  black;
    transform: scale(1.08);

}
.inputs input, .inputs button{
    padding: 10px;
    font-size: 16px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
    color: white;
    background-color: #333;
    transition: all 0.7s ease;

}
.inputs a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-shadow: 0 0 14px rgb(65, 65, 65);
    background-color: rgb(122, 122, 122);
    padding: 11px;
    border-radius: 34px ;
    width:fit-content;
    transition: all 0.4s ease;
}
.inputs a:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 19px  white;

}
.inputs a:active{
    box-shadow: 0px 0px 11px  white;
    background-color: rgb(156, 156, 156);
}
.inputs button:hover{
    size: 3.5%;
    background-color: rgb(255, 255, 255);
    color: black;
    transform: scale(1.06) ;
    

}
.inputs button:active{
    background-color: rgb(175, 175, 175);
    color: black;
    transform: scale(1.04) ;
    transition: none;
}
.inputs input:hover{
    size: 3.5%;
    background-color: rgb(0, 0, 0 , 45);
    transform: scale(1.06) ;
    border: 0 0 43px red;
}
.fast_log{
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 10px;
    border-radius: 24px;
    align-items: center;
    align-self: center;
    height: 233px;
    margin-top: 30px;
    font-size: 14px;
    transition: all 0.6s ease;
    animation: fadeInUp 1s ease-out;

}
.fast_log button{
    font-size: 42px;
    display: block;
    margin: 10px 0;
    width: 284px;
    height: 73px;
    border-radius: 14px;
    transition: all 0.4s ease;

}
.google-b{
    background-color: rgb(74, 141, 94);
}
.apple-b{
    background-color: rgb(79, 119, 120);
}
.fast_log button:hover{
    transform: scale(1.06);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-shadow: 0px 4px 10px black;
}
.fast_log:hover{
    box-shadow: 0 0 14px  black;
    transform: scale(1.08);
}
.fast_log button:active{
    background-color: rgb(0, 0, 0);
    color: white;
    box-shadow: 0px 2px 5px;
    transform: none;
}
.inputs input:focus {
         border-color: #ffffff; /* Change border color on focus */
         outline: none; /* Remove default outline */
         background-color: rgb(0, 0, 0);
     }